h1{
  color: red;
  font-size: 100px;
  font-weight: lighter;
  padding: 5px;
  font-family: Elegant,Ariel,Lobster;
}
p {
  color: white;
  font-size: 50px;
  font-weight: lighter;
  padding: 10px;
  font-family: elegant,Ariel,Lobster;
}
body {background-color: gold}
